

h1{
    color: black;
    font:arial,verdana,san serif;
}

p{
background-color: black;
color: blanchedalmond;
text-align:justify;
text-decoration-line: underline;
text-decoration-color:red ;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: medium;
font-style: normal;


}